services:
  ner-gpu:
    extends:
      file: docker-compose.yml
      service: ner
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [ gpu ]

  pdf-layout-analysis-gpu:
    extends:
      file: docker-compose.yml
      service: pdf-layout-analysis
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [ gpu ]
  
  ner-ui:
    extends:
      file: docker-compose.yml
      service: ner-ui

  ollama:
    extends:
      file: docker-compose.yml
      service: ollama
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [ gpu ]

networks:
  network-ner:
    driver: bridge