services:
  ner:
    container_name: ner
    entrypoint: [ "gunicorn", "-k", "uvicorn.workers.UvicornWorker", "--chdir", "./src", "ner_in_docker.drivers.rest.app:app", "--bind", "0.0.0.0:5070", "--timeout", "10000"]
    init: true
    restart: unless-stopped
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - network-ner
    ports:
      - "5070:5070"
    environment:
      - OLLAMA_HOST=http://ollama:11434
      - OLLAMA_MODEL=gemma3:12b
    depends_on:
      - ollama

  pdf-layout-analysis:
    container_name: "pdf-layout-analysis"
    entrypoint: [ "gunicorn", "-k", "uvicorn.workers.UvicornWorker", "--chdir", "./src", "app:app", "--bind", "0.0.0.0:5060", "--timeout", "10000" ]
    image: ghcr.io/huridocs/pdf-document-layout-analysis:0.0.32
    init: true
    restart: unless-stopped
    networks:
      - network-ner
    ports:
      - "5060:5060"

  ner-ui:
    container_name: ner-ui
    build:
      context: .
      dockerfile: Dockerfile.gradio
    init: true
    restart: unless-stopped
    networks:
      - network-ner
    ports:
      - "7860:7860"

  ollama:
    container_name: ollama
    image: ollama/ollama:latest
    init: true
    restart: unless-stopped
    networks:
      - network-ner
    ports:
      - "11434:11434"

networks:
  network-ner:
    driver: bridge
